<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>index</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <script type="text/javascript" src="../../js/jquery.min-3.4.1.js"></script>
        <script type="text/javascript" src="../../js/enc/crypto.min.js"></script>
        <script type="text/javascript" src="../../js/enc/jsencrypt.min.js"></script>
        <script type="text/javascript" src="../../js/enc/aes_rsa.js"></script>
    </head>
    <body>
        <h3>0000000000000000000000000000000</h3>
        <div>
            <input id="_ipt_test" type="button" value="测试"/>
            <input id="_ipt" type="button" value="交换公钥"/>
            <br/>
            <input id="_ipt1" type="button" value="后端加密,前端解密"/>
            <input id="_ipt2" type="button" value="前端加密,后端解密"/>
            <input id="_ipt3" type="button" value="完整一次请求响应"/>
        </div>
    </body>
    <script type="text/javascript">

        // 公钥
        let jpk = rsaUtil.genPk();
        let hpk = '';
        let server_uri = 'http://127.0.0.1:7210';

        $(() => {
            // 交换公钥
            $("#_ipt").click(() => {
                $.ajax({
                     type: "POST",
                     url: server_uri + "/exchange",
                     data: {
                        "publicKey": jpk,
                     },
                     dataType: "json",
                     success: function(res1){
                        console.log("前端公钥:", jpk);
                        console.log("后端公钥:", res1.data);
                        hpk = res1.data;
                     }
                 });
            });

            // 后端加密,前端解密
            $("#_ipt1").click(() => {
                $.ajax({
                     type: "POST",
                     url: server_uri + "/encrypt",
                     dataType: "json",
                     success: function(res){
                        let l1 = new Date().getTime();
                        let key = rsaUtil.decrypt(res.cipher);
                        let d = aesUtil.decrypt(res.data,key);
                        let l2 = new Date().getTime();
                        console.log("解密时长", l2-l1);
                        console.log(d);
                     }
                 });
            });

            // 前端加密,后端解密
            $("#_ipt2").click(() => {
                let l1 = new Date().getTime();
                // 明文字符串
                let params = {
                    "param1": "44234",
                    "param2": "yunmsvwxs",
                    "createTimeFrom": "2020-01-01",
                    "createTimeTo": "2020-02-01"
                };
                // key
                let aesKey = aesUtil.genKey();
                let data = aesUtil.encrypt(params, aesKey);
                let cipher = rsaUtil.encrypt(aesKey, hpk);
                let l2 = new Date().getTime();
                console.log("加密时长", l2-l1);

                $.ajax({
                     type: "POST",
                     contentType: "application/json;charset=utf-8",
                     url: server_uri + "/decrypt",
                     data: JSON.stringify({
                        "data": data,
                        "cipher": cipher
                     }),
                     dataType: "json",
                     success: function(res){
                        console.log(res);
                     }
                 });
            });

            // 完整一次请求响应
            $("#_ipt3").click(() => {
                let l1 = new Date().getTime();
                // 明文字符串
                let params = {
                    "param1": "44234",
                    "param2": "yunmsvwxs",
                    "createTimeFrom": "2020-01-01",
                    "createTimeTo": "2020-02-01"
                };
                // key
                let aesKey = aesUtil.genKey();
                let data = aesUtil.encrypt(params, aesKey);
                let cipher = rsaUtil.encrypt(aesKey, hpk);
                let l2 = new Date().getTime();
                console.log("加密时长", l2-l1);

                $.ajax({
                     type: "POST",
                     contentType: "application/json;charset=utf-8",
                     url: server_uri + "/handshake",
                     data: JSON.stringify({
                        "data": data,
                        "cipher": cipher
                     }),
                     dataType: "json",
                     success: function(res){
                        let l1 = new Date().getTime();
                        let key = rsaUtil.decrypt(res.cipher);
                        let d = aesUtil.decrypt(res.data,key);
                        let l2 = new Date().getTime();
                        console.log("解密时长", l2-l1);
                        console.log(d);
                     }
                 });
            });

            $("#_ipt_test").click(() => {
                //字符串
                let text = "Do not go gentle into that good night";

                // key
                let aesKey = aesUtil.genKey();
                // key加密
                let ciphertext = aesUtil.encrypt(text,aesKey);
                // key解密
                let plaintext = aesUtil.decrypt(ciphertext,aesKey);

                console.log("key:",aesKey);
                console.log("加密前:",text);
                console.log("加密后:",ciphertext);
                console.log("解密后:",plaintext);


                // 公钥
                let pk = rsaUtil.genPk();
                // 公钥加密
                let ciphertext1 = rsaUtil.encrypt(text, pk);
                // key解密
                let plaintext1 = rsaUtil.decrypt(ciphertext1);
                console.log("公钥:",pk);
                console.log("加密前:",text);
                console.log("加密后:",ciphertext1);
                console.log("解密后:",plaintext1);
            });
        });
    </script>
</html>