<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>index</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <script type="text/javascript" src="/js/jquery.min-3.4.1.js"></script>
        <script type="text/javascript" src="/js/enc/crypto.min.js"></script>
        <script type="text/javascript" src="/js/enc/jsencrypt.min.js"></script>
        <script type="text/javascript" src="/js/enc/aes_rsa.js"></script>
    </head>
    <body>
        <h3>0000000000000000000000000000000</h3>
        <div>
            <input id="_ipt" type="button" value="公钥"/>
            <br/>
            <input id="_ipt_monthly" type="button" value="monthly"/>
            <input id="_ipt_screen" type="button" value="screen"/>
            <input id="_ipt_biz" type="button" value="biz"/>
        </div>
    </body>
    <script type="text/javascript">

        // 密钥对
        let keyPair = rsaUtil.genKeyPair();
        let hpk = '';

        $(() => {
            $("#_ipt").click(() => {
                $.ajax({
                     type: "POST",
                     url: "http://127.0.0.1:8082/admin/admin/keypair/exchange",
                     data: {
                        "publicKey": keyPair.publicKey,
                     },
                     dataType: "json",
                     success: function(res1){
                        console.log("前端公钥:", keyPair.publicKey);
                        console.log("后端公钥:", res1.data);
                        hpk = res1.data;
                     }
                 });
            });

            $("#_ipt_monthly").click(() => {
                $.ajax({
                     type: "POST",
                     url: "http://127.0.0.1:8082/admin/count/monthly",
                     dataType: "json",
                     success: function(res){
                        let l1 = new Date().getTime();
                        console.log(res.cipher);
                        let key = rsaUtil.decrypt(res.cipher);
                        let d = aesUtil.decrypt(res.data,key);
                        console.log(d);
                        let l2 = new Date().getTime();
                        console.log(l2-l1);
                     }
                 });
            });

            $("#_ipt_screen").click(() => {
                $.ajax({
                     type: "POST",
                     url: "http://127.0.0.1:8082/admin/count/screen",
                     dataType: "json",
                     success: function(res){
                        let l1 = new Date().getTime();
                        console.log(res);
                        let key = rsaUtil.decrypt(res.cipher);
                        let d = aesUtil.decrypt(res.data,key);
                        console.log(d);
                        let l2 = new Date().getTime();
                        console.log(l2-l1);
                     }
                 });
            });

            $("#_ipt_biz").click(() => {
                $.ajax({
                     type: "POST",
                     url: "http://127.0.0.1:8082/admin/count/biz",
                     dataType: "json",
                     success: function(res){
                        let l1 = new Date().getTime();
                        console.log(res);
                        let key = rsaUtil.decrypt(res.cipher);
                        let d = aesUtil.decrypt(res.data,key);
                        console.log(d);
                        let l2 = new Date().getTime();
                        console.log(l2-l1);
                     }
                 });
            });
        });       
                
    </script>
</html>