<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>login</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <script type="text/javascript" src="../../js/jquery.min-3.4.1.js"></script>
        <script type="text/javascript" src="../../js/user/user_login.js"></script>
        <link type="text/css" rel="stylesheet" href="../../css/common_style.css"/>
    </head>
    <body>
        <form>
            <input id="userName" type="text" placeholder="输入用户名"/>
            <br/>
            <input id="password" type="text" placeholder="输入密码"/>
            <br/>
            <input id="btnLogin" value="提交" type="button"/>
            <input id="btnReset" value="重置" type="reset"/>
        </form>
        <p id="error_info"></p>
    </body>
</html>