<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>otp2</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <script type="text/javascript" src="js/jquery.min-3.4.1.js"></script>
        <script type="text/javascript" src="js/user/user_otp.js"></script>
        <link type="text/css" rel="stylesheet" href="css/common_style.css"/>
    </head>
    <body>
        <input id="tel" type="text" placeholder="输入手机号"/>
        <input id="btnSub" value="提交" type="button"/>
        <p id="error_info"></p>
    </body>
</html>