<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>index</title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script type="text/javascript" src="../../js/jquery.min-3.4.1.js"></script>

    <style>
        .body-bg-color {
          background-color: #362323a8;
        }
        
        .inp-bg-color {
          background-color: #725c5c75;
        }
    </style>
</head>

<body class="body-bg-color">
    <h3>111111111111111111111111111111</h3>
    <div>
        <input class="inp-bg-color" type="text" id="_ipt" />
        <input class="inp-bg-color" type="button" id="_send" onclick="mySend()" value="发送" />
        <input class="inp-bg-color" type="button" id="_end" onclick="end()" value="结束" />
        <br />
        <input class="inp-bg-color" type="file" id="_file" />
        <input class="inp-bg-color" type="button" id="wsSend" onclick="mySendFile()" value="发送" />
        <br />
        <span id="_span"></span>
    </div>
</body>

<script type="text/javascript">
    // WebSocket对象
    let ws;
    // 路径
    const WS_URL = "ws://127.0.0.1/ws";
    // 心跳频率 30s
    const HEART_BEAT_FREQ = 30000;
    // 已尝试连接次数
    let limit = 0;
    // 最大连接次数
    const MAX_CONN_LIMIT = 5;
    // 断开重连间隔 10s
    const RECONN_FREQ = 10000;
    // 定时任务
    let tt;

    if ("WebSocket" in window) {
        console.log("支持WebSocket");
        conn();
    } else {
        console.alert("该浏览器不支持WebSocket")
    }

    function conn() {
        ws = new WebSocket(WS_URL);
        // 连接关闭函数
        ws.onclose = function () {
            clearTimeout(tt);
            console.log("连接已关闭...");
            if (++limit > MAX_CONN_LIMIT) {
                return
            }
            setTimeout(function () {
                conn();
            }, RECONN_FREQ);
        };
        // 连接错误函数
        ws.onerror = function () {
            console.log("连接错误...");
        };
        // 连接建立 发送信息
        ws.onopen = function () {
            console.log("已连接...");
            limit = 0;
            // 成功连接后发送第一条消息
            initSend();
            // 开启心跳包
            heartBeat();
        };
        // 业务订阅成功后接受服务端推送消息 其实是个字符串
        ws.onmessage = function (evt) {
            const res = evt.data;
            console.log("接收到消息...", res);
            const json = JSON.parse(res);
            $("#_span").html(res);
        };
    }

    function initSend() {
        const message = {
            "key": "call_apply",
            "value": "1428259147308097538", 
            "code": "2001",
            "msg": "业务包..."
        };
        wsSend(message);
    }

    function heartBeat() {
        tt = setTimeout(function () {
            const message = {
                "code": "2000",
                "msg": "心跳包..."
            };
            wsSend(message);
            heartBeat()
        }, HEART_BEAT_FREQ);
    }

    function mySend() {
        const msg = $("#_ipt").val();
        if (!msg) {
            return;
        }
        const message = {
            "code": "2002",
            "msg": msg
        };
        wsSend(message);
        $("#_ipt").val('');
    }

    function mySendFile() {
        // const message = {
        //     "key": "biz",
        //     "value": "demo",
        //     "code": "2002",
        //     "msg": "..."
        // };
        // ws.send(JSON.stringify(message));

        // var f = $("#_file")[0].files[0];
        // console.log(f);
        // ws.send(f);


        const arr1 = new ArrayBuffer();
        ws.send(arr1);
    }

    function wsSend(message) {
        try {
            ws.send(JSON.stringify(message));
        } catch (err) {
            console.log(err);
        }
    }
</script>

</html>