<!<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Document</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="./vue.js"></script>
	</head>
	<body>
		<div id="root">
			<todo-item1></todo-item1>
			<todo-item2></todo-item2>
			<p style="color: red;">tolist组件拆分</p>
			<input v-model="content" />
			<input type="button" value="submit" @click="submit" />
			<ul>
				<!--监听来自子组件的delitem事件,触发父组件的del-->
				<todo-item 
					v-for="(item,index) of listToShow" 
					:key="index" 
					:index="index" 
					:item="item"
					@delitem="del">
				</todo-item><!-- 全局组件 -->
			</ul>
		</div>

		<script type="text/javascript">
			/* 注册全局组件
			 每一个组件就是一个vue实例
			 可以拥有全部的vue属性
			 */
			Vue.component('todo-item', {
				props: ['index', 'item'], // 使用数组形式接受外部传递的属性值
				template: '<li @click="liClick">{{index}}-{{item}}</li>',// click事件为当前组件的method
				methods: {
					liClick() {
						// 向外触发delitem,由父组件监听
						this.$emit('delitem',this.index);
						// 或者使用下面的方法
						// vm.del(this.index);
					}
				}
			});

			/* 注册局部组件 */
			var component1 = {
					template: '<span>11</span>'
				},
				component2 = {
					template: '<span>22</span>'
				};

			var vm = new Vue({
				el: "#root",
				components: { // 注册局部组件
					'todo-item1': component1,
					'todo-item2': component2,
				},
				data: {
					content: '',
					listToShow: [],
				},
				methods: {
					submit() {
						this.listToShow.push(this.content);
						this.content = '';
					},
					del(index) {
						console.log(index);
						this.listToShow.splice(index, 1);
					}
				}
			});
			console.log(vm.$data);
		</script>
	</body>
</html>
