<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>表单提交</title>
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<script type="text/javascript" src="../../js/vue.js"></script>
</head>

<body>
	<div id="root">
		<form @submit.prevent="submit">
			账号:<input type="text" v-model="param.account" /><br />
			密码:<input type="password" v-model="param.password" /><br />
			<!-- .number转化输入的字符为相应的数字 -->
			年龄:<input type="number" v-model.number="param.age" /><br />
			性别:
			男<input type="radio" v-model="param.gender" value="male" />
			女<input type="radio" v-model="param.gender" value="female" /><br />
			爱好:
			吃饭<input type="checkbox" v-model="param.hobby" value="eat" />
			睡觉<input type="checkbox" v-model="param.hobby" value="sleep" />
			游戏<input type="checkbox" v-model="param.hobby" value="game" /><br />
			籍贯:
			<select v-model="param.area">
				<option value="">请选择</option>>
				<option value="北京">北京</option>>
				<option value="上海">上海</option>>
				<option value="浙江">浙江</option>>
				<option value="安徽">安徽</option>>
				<option value="天津">天津</option>>
			</select><br />
			其他:
			<!-- .lazy延迟触发更新(文本框失去焦点时触发) -->
			<textarea v-model.lazy="param.msg"></textarea><br />
			<input type="checkbox" v-model="param.pact" />已阅读<a href="http://www.baidu.com">用户协议</a><br />
			<button>提交</button>>
		</form>
	</div>

	<script type="text/javascript">
		const vm = new Vue({
			el: "#root",
			data: {
				param: {
					account: '',
					password: '',
					age: '',
					gender: '',
					hobby: [],
					area: '',
					msg: '',
					pact: false
				}
			},
			methods: {
				submit() {
					console.log("submit");
					const v = JSON.stringify(this.param);
					console.log(v);
				}
			}
		});
	</script>
</body>

</html>