<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>computed,watch,filter</title>
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script type="text/javascript" src="../../js/dayjs.min.js"></script>
</head>

<body>
	<div id="root">
		<p style="color: red;">1</p>
		<input v-model="firstName" />
		<input v-model="lastName" />
		<div>{{fullName}}</div>
		<div>{{count}}</div>
		<!-- 使用管道操作过滤器 上一个输出作为下一个输入 -->
		<div>{{time | fmtTime}}</div>
	</div>

	<!-- 
		computed能完成的watch都可以完成
		watch能完成的computed不一定能完成(watch内不可以使用延时任务,定时任务但是computed不可以)
		若computed和watch能实现同一功能 优先使用computed
	 -->

	<script type="text/javascript">
		const vm = new Vue({
			el: "#root",
			data: {
				firstName: "h",
				lastName: "t",
				count: 0,
				time: 1642385659206
			},
			// 计算属性
			computed: {
				// fullName: {
				// 	// 1.每次有fullName的调用就会触发getter
				// 	// 2.每次fullName中引用的属性有变化就触发getter
				// 	get() {
				// 		return this.firstName + ' ' + this.lastName;
				// 	},
				// 	// 每次主动修改fullName就会触发setter
				// 	set(val) {
				// 		let v = val.split('');
				// 		console.log(v);
				// 		this.firstName = v[0];
				// 		this.lastName = v[1];
				// 	}
				// }
				// 如果只有getter可以简写成以下形式
				fullName() {
					return this.firstName + ' ' + this.lastName;
				}
			},
			// 监视属性
			watch: {
				// 可以监视基本属性也可以监视计算属性
				fullName: {
					// 是否立即触发一次默认false
					immediate: true,
					// 深度监视(检测对象内部值的改变)默认false
					deep: true,
					// 每次fullName变化就会触发handler函数
					handler(newVal, oldVal) {
						console.log(newVal, oldVal);
						this.count++;
					}
				},
				// // 如果只有handler可以简写成以下形式
				// fullName(newVal, oldVal) {
				// 	this.count++;
				// }
			},
			// 过滤器
			filters: {
				fmtTime(val, fmt = 'YYYY-MM-DD HH:mm:ss') {
					return dayjs(val).format(fmt);
				}
			}
		});
	</script>
</body>

</html>