<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>数据代理</title>
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<!-- /hexk/github/ht-vue/ -->
	<script type="text/javascript" src="../../js/vue.js"></script>
</head>

<body>
	<div id="root">
		<h1>{{msg}}</h1>

		<div>
			<p>{{id}}-{{name}}</p>
			<p>{{obj1.a1}}-{{obj1.a2}}</p>
			<p>{{obj1.obj11.a11}}-{{obj1.obj11.a12}}</p>
			<p>{{arr1[0]}}</p>

			<ul>
				<li v-for="(item,index) in arr1" :key="index">{{item}}</li>
			</ul>

		</div>
	</div>

	<script type="text/javascript">
		Vue.config.productionTip = false;

		const vm = new Vue({
			// 创建实例直接指定模板
			// el: "#root",

			// 指定对象属性
			data() {
				return {
					msg: 'hello world',
					id: 1001,
					name: 'testing',
					obj1: {
						a1: 111,
						a2: '312',
						obj11: {
							a11: 2,
							a12: '42'
						}
					},
					arr1: [
						'32', { b1: '12', b2: 3421 }
					]
				}
			}

			// 使用函数返回
			// data: function dd() { 
			// 	// this指代vue实例对象v 不要使用箭头函数代替普通函数
			// 	console.log(this);
			// 	return {
			// 		name: 'hello world'
			// 	}
			// },
			// // 简写
			// data() { return {name:'hello world'} },
		});
		// 创建实例后挂载模板
		vm.$mount('#root');


		// 模拟数据代理
		let y = 0;
		let t4s = {
			name: '1',
			id: '2'
		}

		Object.defineProperty(t4s, 'dx', {
			// value: y, // 设置初始值
			// enumerable: true, // 是否可以遍历默认false
			// writable: true, // 是否可写默认false
			// configurable: true, // 是否可以修改默认false

			// 每次读取dx都会调用
			get() {
				console.log('get');
				return y;
			},

			// 每次修改dx都会调用
			set(val) {
				console.log('set');
				y = val;
			},

		});

		// 模拟数据监测
		let data = {
			msg: 'hello world',
			id: 1001,
			name: 'testing',
		}

		const obs = new Observer(data);

		function Observer(obj) {
			const keys = Object.keys(obj);
			keys.forEach((k) => {
				Object.defineProperty(this, k, {
					get() {
						return obj[k];
					},
					set(val) {
						obj[k] = val;
					}
				});
			});
		}

		// Vue.set
		// 给vue实例上的对象继续添加新的属性
		// 不能够是Vue实例或者Vue实例的根数据(data)
		Vue.set(vm.obj1,'a3',4321);
		Vue.set(vm.arr1,0,543);
		// 数组的变化依靠对起push pop shift unshift splice sort reverse 调用监测数据的变化



		function Demo(){
			this.a = 1;
			this.b =2;
		}

		const v = new Demo();
		// 对象的隐式属性对象和创建它的函数显示原型是同一个对象
		console.log(v.__proto__ === Demo.prototype);
		console.log(Demo.toString());
		console.log(v.toString());
		console.log(v.__proto__.__proto__.toString());
		console.log(Demo.prototype.__proto__.toString());
	</script>
</body>

</html>