<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>自定义指令</title>
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<script type="text/javascript" src="../../js/vue.js"></script>
</head>

<body>
	<div id="root">
		<!-- 原生指令 -->
		<h3 v-text="num"></h3>
		<!-- 自定义指令 -->
		<h3 v-fbind:tao="num">绑定属性tao={{num}}</h3>
		<!-- 自定义指令 -->
		<input v-fbind1:value="num"></input>
		<!--  -->
		<button @click="num++">自增</button>
	</div>

	<script type="text/javascript">
		const vm = new Vue({
			el: "#root",
			data: {
				num: 1
			},
			// 自定义指令
			// 只要vue的模板重新解析 使用到自定义指令的地方都会重新调用
			// 自定义指令内的函数this都是window不是vue实例
			directives: {
				// 函数式
				// element 原生真实的dom
				// binding element上绑定的初始数据
				fbind(element, binding) {
					console.log('fbind');
					element.setAttribute(binding.arg, binding.value);
				},
				// 对象式
				fbind1: {
					// 指定元素绑定
					bind(element, binding) {
						console.log('bind');
						element.setAttribute(binding.arg, binding.value);
					},
					// 元素加入到页面
					inserted(element, binding) {
						console.log('inserted');
						element.focus();

					},
					// 指令所在模板被重新解析
					updated(element, binding) {
						console.log('updated');
						element.setAttribute(binding.arg, binding.value);
					}
				}
			}
		});
	</script>
</body>

</html>