<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>index</title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script type="text/javascript" src="/mine/js/jquery.min-3.4.1.js"></script>
</head>

<body>
    <h3>111111111111111111111111111111</h3>
    <div>
        <input type="text" id="_ipt" />
        <input type="button" id="_send" onclick="mySend()" value="发送" />
        <br />
        <div id="_msg"><ul></ul></div>
    </div>
</body>
<script type="text/javascript">
    // WebSocket对象
    var ws;
    // 路径
    var WS_URL = "ws://127.0.0.1/ws";
    // 时间间隔
    var tt;
    // 心跳频率 30s
    var HEART_BEAT_FREQ = 30000;
    // 已尝试连接次数
    var LIMIT = 0;
    // 最大连接次数
    var MAX_CONN_LIMIT = 5;
    // 断开重连间隔 10s
    var CONN_FREQ = 10000;
    // 消息接收人
    var userId = "1470230157283504130";
    // 客服id
    var serviceId = "2";

    if ("WebSocket" in window) {
        console.log("支持WebSocket");
        conn();
    } else {
        console.alert("该浏览器不支持WebSocket")
    }
        
    function conn() {
        ws = new WebSocket(WS_URL);
        // 连接关闭函数
        ws.onclose = function () {
            console.log("连接已关闭...尝试重连", ++LIMIT);
            clearInterval(tt);
            if (LIMIT < MAX_CONN_LIMIT) {
                setTimeout(function () {
                    conn();
                }, CONN_FREQ);
            }
        };
        // 连接错误函数
        ws.onerror = function () {
            console.log("连接错误...");
        };
        // 连接建立 发送信息
        ws.onopen = function () {
            console.log("已连接...");
            LIMIT = 0; 
            // 成功连接后发送第一条消息
            initSend();
            // 心跳检测启动
            heartBeat();
        };
        // 业务订阅成功后接受服务端推送消息 其实是个字符串
        ws.onmessage = function (evt) {
            let res = evt.data;
            console.log("接收到消息", res);
            let json = JSON.parse(res);
            if ("4002" == json.code) {
                $("#_msg ul").append("<li>接收:"+json.data.content+"</li>");
            }
        };
    }

    function initSend() {
        let message = {
            "value": serviceId,
            "code": "4000"
        };
        ws.send(JSON.stringify(message));
    }

    function heartBeat() {
        tt = setInterval(function () {
            let message = {
                "code": "2000",
                "msg": "心跳包"
            };
            ws.send(JSON.stringify(message));
        }, HEART_BEAT_FREQ);
    }

    function mySend() {
        let msg = $("#_ipt").val();
        if(!msg) {
            return;
        }
        let message = {
            "code": "4001",
            "value": {
                "type": "1",
                "content": msg,
                "sender": serviceId,
                "receiver": userId
            }
        };
        ws.send(JSON.stringify(message));
        $("#_msg ul").append("<li>发送:"+msg+"</li>");
        $("#_ipt").val('');
    }
</script>

</html>