<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>index</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <script type="text/javascript" src="/js/jquery.min-3.4.1.js"></script>
    </head>
    <body>
        <h3>111111111111111111111111111111</h3>
        <div>
            <input type="text" id="_ipt"/>
            <input type="button" id="_send" onclick="mySend()" value="发送"/>
            <br/>
            <span id="_span"></span>
        </div>
    </body>
    <script type="text/javascript">
        // webSocket对象
        var ws;
        // 时间间隔
        var tt;

        if ("WebSocket" in window) {
            console.log("支持WebSocket");
            // 路径
            let wsUrl = "ws://127.0.0.1:9481";
            console.log("路径", wsUrl);
            ws = new WebSocket(wsUrl);
            // 连接关闭函数
            ws.onclose = function () {
                console.log("连接已关闭...");
                clearInterval(tt);
            };
            // 连接错误函数
            ws.onerror = function () {
                console.log("连接错误...");
                clearInterval(tt);
            };
            // 连接建立,发送信息
            ws.onopen = function () {
                console.log("已连接...");
                // 成功连接后发送第一条消息
                initSend();
                // 心跳检测启动
                heartBeat();
            };
            // 业务订阅成功后接受服务端推送消息  ，其实是个字符串
            ws.onmessage = function (evt) {
                console.log("接收到消息", evt.data);
                $("#_span").html(evt.data);
            };
        } else {
            alert("该浏览器不支持WebSocket")
        }

        function initSend() {
            let message = {
                "code": "01",
                "msg": "业务1-订阅包..."
            };
            ws.send(JSON.stringify(message));
        }

        function heartBeat() {
            tt = setInterval(function(){
                let message = {
                    "code": "00",
                    "msg":"心跳包 == "+ new Date().getTime() + "..."
                };
                ws.send(JSON.stringify(message));
            }, 30000);
        }

        function mySend() {
            let message = {
                "code": "02",
                "msg":$("#_ipt").val() + "..."
            };
            ws.send(JSON.stringify(message));
        }
    </script>
</html>